* {
    box-sizing: border-box;
    line-height: 1.45;
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
    background-color: #104476;
    font-size: 120%;
    scroll-behavior: smooth;
}

body {
    padding: 2rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

/* sound button */
#audio-toggle {
    filter: drop-shadow(1px 8px 5px rgba(0, 0, 0, 0.5));
    position: sticky;
    top: 1rem;
    z-index: 2;
}

.audible #x {
    opacity: 0;

}

.audible #waves path {
    opacity: 1;
}

#waves path {
    opacity: 0; 
}

/* Nyan */
picture {
    align-self: flex-start;
    position: relative;
    left: -2rem;
}

img {
    max-width: 24rem;
    height: auto;
}

.info-container {
    color: #012d57;
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
}

#info {
    order: -1;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem 3rem 3rem;
    border-radius: 1.8em;
    max-width: 50rem;
    transition: 0.35s ease-in-out;
    transform-origin: bottom right;

    /* collapsed by default */
    transform: scale(0);
    opacity: 0;
}

/* expanded state */
#info[aria-expanded]:not([aria-expanded="false"]) {
    transform: scale(1);
    opacity: 1;
}

h1 {
    padding-bottom: 1rem;
}

a {
    padding: 1rem 0 0.2rem;
    align-self: flex-end;
    text-decoration: none;
    border-bottom: 2px solid #104476;
}

a:link {
    color: #104476;
}

a:visited {
    color: #561076;
    border-color: #561076;
}

a:hover {
    color: #205f92;
    border-color: #205f92;
}

a:active {
    color: #012d57;
    border-color: #012d57;
}

.toggle-info:hover {
    background-color: #fff;
}

.toggle-info:active {
    background-color: #eee;
}

/* Toggle - "Ooh, shiny!" */
#open-info {
    align-self: flex-end;
    line-height: 3;
    max-height: 3em;
    transform: translateY(-3em);
    border-radius: 3em;
    border: none;
    background-color: #ccc;
    position: sticky;
    bottom: 1em;
    padding: 0 1em;
    transition: 0.5s ease-in-out;
    z-index: 1;
}

/* When #info is expanded, hide the open button */
#open-info[aria-expanded]:not([aria-expanded="false"]) {
    opacity: 0;
}

/* Toggle - "×" */
#close-info {
    order: -2;
    position: absolute;
    color: black;
    background: none;
    border-radius: 2.5em;
    top: 1.5em;
    right: 1em;
    line-height: 1.5;
    width: 1.5em;
    border: none;
    font-size: 2em;
    z-index: 1;

    /* hidden by default */
    opacity: 0;
}

#close-info:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

#close-info:active {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

/* When #info is expanded, show the close button */
#close-info[aria-expanded]:not([aria-expanded="false"]) {
    transition: 0.5s ease-in; /* TODO: transition on default? */
    opacity: 0.8;
}
