* {
    box-sizing: border-box;
    line-height: 1.45;
    font-family: 'Open Sans', sans-serif;
    color: #012d57;
}

html {
    height: 100%;
    background-color: #104476;
    font-size: 120%;
}

body {
    padding: 2rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

audio {
    filter: drop-shadow(1px 8px 5px rgba(0, 0, 0, 0.5));
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1
}

/* Nyan */
picture {
    align-self: flex-start;
    position: relative;
    left: -2rem;
}

img {
    max-width: 24rem;
    height: auto;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
}

#info {
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem 3rem 3rem;
    border-radius: 1.8em;
    max-width: 50rem;
    transition: 0.35s ease-in-out;
    transform-origin: bottom right;
}

#info:not([aria-expanded=true]):not([aria-expanded]) {
    transform: scale(0, 0);
    opacity: 0;
}

h1 {
    padding-bottom: 1rem;
}

a {
    padding: 1rem 0 0.2rem;
    align-self: flex-end;
    text-decoration: none;
    border-bottom: 2px solid #104476;
}

a:link {
    color: #104476;
}

a:visited {
    color: #561076;
    border-color: #561076;
}

a:hover {
    color: #205f92;
    border-color: #205f92;
}

a:active {
    color: #012d57;
    border-color: #012d57;
}

.toggle-info:hover {
    background-color: #fff;
}

.toggle-info:active {
    background-color: #eee;
}

/* Toggle - "Ooh, shiny!" */
#open-info {
    align-self: flex-end;
    line-height: 3;
    max-height: 3em;
    transform: translateY(-3em);
    border-radius: 3em;
    border: none;
    background-color: #ccc;
    position: sticky;
    bottom: 1em;
    padding: 0 1em;
    transition: 0.5s ease-in-out;
}

#info[aria-expanded=true] + #open-info,
#info[aria-expanded] + #open-info {
    opacity: 0;
}

/* Toggle - "×" */
#close-info {
    order: -1;
    opacity: 0;
    position: absolute;
    color: black;
    background: none;
    border-radius: 2.5em;
    top: 1.5em;
    right: 1em;
    line-height: 1.5;
    width: 1.5em;
    border: none;
    font-size: 2em;
}

#close-info:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

#close-info:active {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}


#info[aria-expanded=true] ~ #close-info,
#info[aria-expanded] ~ #close-info {
    transition: 0.5s ease-in;
    opacity: 0.8;
}
